<form action="/answer" method="get">
  <label for="label">Ask your coach a question</label>
  <input type="text" name="my_question" value="<%= params[:question] %>" placeholder="whats your question?">
  <input type="submit" value="Ask!">
</form>
